# === macOS ===
.DS_Store

# === Project-specific ===
**/*-war-extracted/
**/*-war-extracted/
**/target/classes/
**/target/dependency/

# Ignore all .idea files
.idea

# === Logs and temp ===
out
logs
*.log
*.tmp
*.swp